[2014-01-29 03:49] mudlock opened #1 "Better Error Response When New Question Is Blank"
Currently, if you submit a new question with blank question text, the http response is just "You have to ask a question!"; no proper html markup, no styling, no links to continue (you have to go back).

Should return a proper page instead.

[2014-01-29 03:52] mudlock opened #2 "Allow More Than 8 Options In a Question"
Currently the new question form is hard-coded to 8 candidate options.

Make it so you can have arbitrarily more than that.

(I'm thinking a button and a bit of javascript to add another text box.)

[2014-01-29 03:54] mudlock opened #3 "Collect Ballot Data for Correlations and Auditing"
Only the total number of ballots cast on a question and the total number of approvals of each choice are kept.

Collect the choices approved by each ballot instead.

(models.py has a starting point commented out)

[2014-01-29 03:57] mudlock opened #4 "Long Questions Scroll the Main Page"
8 questions per page, but if any of them wrap to a second line, it scrolls in the current frame size.

(I think there's some CSS that will automatically put '...' if an item exceeds a maximum size.)

[2014-01-29 03:59] mudlock opened #5 "Better CSS Classing for Styling"
Make better use of ids and classes everywhere so people can more-easily style their deployment.

[2014-01-29 04:01] mudlock opened #6 "Implement Score Voting"
Approval is nice, but wouldn't score be even better?

Bonus: Configurable range (including negative numbers) by question (instead of any particular fixed ranged)

[2014-01-29 04:05] mudlock opened #7 "Allow for Some Kind of Authentication to prevent Ballot Stuffing"
Currently, nothing limits anyone from voting as many times as they want on anything.

Restrict that. (Configurable by poll.) Some possibilities (implement any or all):

Just a friendly cookie: "Hey, you already voted on this."
User accounts (verify by email?)
reCaptcha
OpenAuth
Question ids just increment. How about adding a secret key to get in (equiv. to gDocs "anyone who knows the url"?)

[2014-05-17 18:50] #2 closed, assigned to nobody

[2014-06-23 19:28] #4 closed, assigned to nobody

[2014-06-23 19:29] #1 closed, assigned to nobody

[2014-06-29 21:39] mudlock opened #11 "hAKathon Broke Tests!"
We were working quickly; changes to graphical elements broke several tests for viewing poll results.

[2014-06-29 21:59] mudlock opened #12 "New base template/styling used inconsistently"
We started using a new base template (currently called public_base); major identifiable difference is the CES logo being at the bottom of the screen instead of the top.

But it's being used inconsistently.

-Is there a reason we need two templates? Or can we combine them into one? (If one, let's go with the name 'base'.)

-Is there any reason we can't move the attending css in public_base in with

[2014-06-30 01:34] mudlock opened #13 "Display username that created a poll"

[2014-06-30 01:35] mudlock opened #14 "Add a way to list the polls created by a user"

[2014-06-30 01:35] mudlock opened #15 "Add ability for users to close polls; configurable opening/closing time for polls"

[2014-06-30 01:36] mudlock opened #16 "Track votes by user; allow poll to be configured to allow only logged-in voters"

[2014-07-03 04:21] kyleneideck opened #17 "Polls in iframes on cross-domain pages fail CSRF check when 3rd-party cookies are blocked"
This Django bug outlines the issue fairly thoroughly: https://code.djangoproject.com/ticket/17157. In short, when you create a poll and put the embedding code it provides (`<iframe src="http://localhost:8000/approval_polls/2" width="250"></iframe>`) on a page on another domain, browsers that disallow third party cookies can't vote. They see a Django 403 page with the message "CSRF verification fai

[2014-07-16 08:11] #11 closed, assigned to nobody

[2014-09-14 20:18] jamesonquinn opened #19 "Blog the installation"
This is a good issue for somebody new to the project. All you have to do is install the project and set up a poll... but you have to write it up in a blog post. This will improve both our documentation and our outreach. Also, you'll get to see the poll results on some issue that interests you!

[2014-11-09 19:35] #3 closed, assigned to nobody

[2014-11-09 20:56] mudlock opened #21 "Upgrade Django"
We started this project with Django 1.5. 1.7 is available now; we should upgrade and make sure everything still works.

[2015-01-19 12:45] ashimaathri opened #22 "Fix the master branch"
Currently the first step of installation as given in the README `python manage.py syncdb` fails. Either the README or the branch needs to be fixed.

The error is
[code]

[2015-01-19 16:17] ashimaathri opened #25 "Add a section on Contributing in the README file"
This should contain easy-to-understand steps for newcomers to the project.

[2015-01-20 03:42] weberc2 commented on #21
I just clicked the link in the README.md: https://docs.djangoproject.com/en/1.5/intro/install/ There's a bar at the top that says:

Sounds like a security issue?

[2015-01-30 12:17] #22 closed

[2015-01-31 03:35] ashimaathri opened #26 "Fix registration"
The signup feature does not work.

[2015-02-02 12:21] ashimaathri opened #28 "Fix tests"
Tests fail with status - `FAILED (errors=10, skipped=1, expected failures=1)`
The error in most cases appears to be `NoReverseMatch: u'approval_polls' is not a registered namespace`

[2015-02-14 14:26] ashimaathri commented on #26
Fixed by 7ad41702a33d26bc13e55ce06000a755a66961b5 and 18bc6d97a81e60f33b0c62082161a443a3e731d5

[2015-02-14 14:26] #26 closed

[2015-02-14 14:30] ashimaathri commented on #5
We could use an existing CSS framework like [Bootstrap](http://getbootstrap.com/) to style the pages. This gives us the added benefits of responsiveness. As the framework is quite popular, many people will be familiar with it and will be able to customize the application styles according to their needs. Bootstrap is quite simple to use and pretty useful.

[2015-02-14 14:36] ashimaathri commented on #7
I think this is really important for our application because currently nothing stops the user from voting multiple times and messing up the results.
However, we need to keep in mind that the iframe would most probably be embedded in an external page that we have no control over. So, should we enable authentication with a well known provider like Google/Facebook or should we have a local authentica

[2015-02-14 15:27] #25 closed

[2015-02-23 21:33] ashimaathri opened #32 "Login should accept both email ID or username"

[2015-02-23 21:34] ashimaathri opened #33 "Have opt-in feature for monthly newsletter when signing up"

[2015-02-23 21:34] ashimaathri opened #34 "I-frame should automatically adjust height and width according to number of options."

[2015-02-23 21:37] ashimaathri commented on #7
Comments from Aaron

* Limit poll submissions to one per e-mail.
* To submit vote, must have e-mail.
* "Vote again" should be "change vote".

[2015-04-07 13:34] adihemdev commented on #33
Ashima,

Could this be implemented using JavaScript? Also what will happen once the user opts for the monthly newsletter? Will he receive an email confirmation?

[2015-04-11 18:56] ashimaathri commented on #33
@adihemdev this would involve

1. HTML for the checkbox and the corresponding text that says 'Sign up for the newsletter'
2. Server side logic for checking if this checkbox was checked by the user when submitting the form and if so, adding the corresponding information to the database along with other attributes of the user such as username, email address, hashed password etc.
3. As the user alrea

[2015-04-13 14:06] adihemdev commented on #7
I found that Django already has a way to implement the second requirement.  This is from the Django docs. . I'd like to go ahead and tackle this using the steps provided in the docs.

[2015-04-14 13:42] adihemdev commented on #7
"To submit vote, must have email".......Is this the same as "to submit vote, must be logged in". In that case, a @login_required should suffice.

[2015-04-14 15:24] adihemdev commented on #7
Ok..this is my understanding so far:

If only one submission is allowed per email, then Django's user class must be extended to include a "vote" field, like so?
vote=models.ForeignKey(Vote)

so that a vote can have multiple users associated with it, but not the other way around

To summarize, what I'm saying is, why not create a custom user class, which inherits from django.contrib.auth.models.Use

[2015-04-16 18:42] ashimaathri commented on #7
Thanks for looking at this issue @adihemdev! Yes, I agree that we should use Django's built-in user authentication system as we're already using it for creating polls. As you suggested, using the decorator @login_required will satisfy requirement 2.

I think the Vote and Ballot tables are a little confusing at first glance. The ballot is what the user casts and in our case we want to make sure tha

[2015-04-17 18:32] adihemdev commented on #7
Ashima,
I got confused with the definition of vote vs Ballot. Thank you for clarifying that! I am a little new to GitHub, so before I modify anything, I just want to make sure I am clear with the process

I was looking online and I found this link

https://guides.github.com/activities/hello-world/

It looks like a quick way to get yourself familiar with GIT. I recommend anyone else who is new to t

[2015-04-18 01:49] ashimaathri commented on #7
@adihemdev That looks like an excellent resource. Could you put it up on the forum so that everyone can see it? Thanks!

[2015-05-01 02:11] octy40 commented on #5
Hi Ashima - I'm new at this and was wondering if it was possible for you to give a little bit of guidance on how best to go about doing this enhancement?

[2015-05-05 21:49] ashimaathri commented on #5
@octy40 It's great to know that you want to work on this issue!
I would suggest going through the [Bootstrap](http://getbootstrap.com/) website and getting acquainted with it by writing some sample html + css using bootstrap classes.
Then, you could incorporate the bootstrap grid-based layout and other relevant css styles (to forms for example) to our html.
I hope that will help get you started. L

[2015-05-07 01:05] rupalkhilari opened #37 "Test failure"
I am running into the following issue while running the test suite. Seems like the `DetailView` and `ResultsView` are not handling the case with the future published date for a poll.
[code]

[2015-05-07 01:11] rupalkhilari commented on #28
Hi Ashima,

Were these tests fixed ? I am currently running into the following issue https://github.com/electology/approval_frame/issues/37 with the tests:

Thanks,
Rupal

[2015-05-09 14:15] ashimaathri commented on #28
@rupalkhilari I still see these errors when i run `./manage.py test`.

[2015-05-10 11:06] ashimaathri commented on #28
This looks related to a Django bug - https://code.djangoproject.com/ticket/11077. The long term solution is to upgrade Django to v1.8 from v1.5. The short term solution is to just run app specific tests using `./manage.py test approval_polls`

[2015-05-10 16:02] ashimaathri opened #40 "Integrate with a continuous integration system like Travis CI"

[2015-05-10 16:03] ashimaathri commented on #37
Fixed by PR #38

[2015-05-10 16:03] #37 closed

[2015-05-10 18:25] #21 closed

[2015-05-10 19:04] ashimaathri opened #43 "Use a charting library like d3.js for reporting the poll results"

[2015-05-11 01:28] rupalkhilari commented on #28
Oh ok, yes Ashima, I believe I wasn't able to see these errors when I ran it against django 1.6.11, even with ```./manage.py test``` . Have upgraded to v1.8.1 now.

[2015-05-11 11:36] #28 closed

[2015-05-12 00:09] rupalkhilari commented on #34
Hi,

I have implemented this using Javascript in the pull request https://github.com/electology/approval_frame/pull/44 . This adds an iframe Preview to the page, and calculates the appropriate height for the iframe based on that. The width of the iframe however is kept constant at 350px (max-width of the content's body) since displaying the footer always seems to require it.

I had considered coun

[2015-05-12 18:38] rupalkhilari commented on #32
It seems that currently multiple usernames can be associated with the same Email ID. To have the login accept either email ID or username, should we only allow one username per Email ID ?

Thanks,
Rupal

[2015-05-13 01:01] ashimaathri commented on #32
I vote we remove the user ID property altogether and keep only the email as the unique ID for a user. There may be a way to do that in the registration-redux module, we need to dig in the documentation to find out.

[2015-05-14 05:10] Brianjr0428 commented on #13
HI,
I am trying to understand more detail about this issue.
It seems like we need to make the username of the each poll's creator displayed in the detail page when voting.
If my understanding is correct,  my thought will be:

1) add one field "username" to the approval_polls_poll table
2) pass the username of creator along with other fields when creating new poll
3) display the username of creator

[2015-05-14 18:16] rupalkhilari commented on #32
The user ID does seem redundant if we need to keep both user ID and Email ID unique.  (http://stackoverflow.com/questions/2131533/django-registration-force-unique-e-mail outlines a way to have both unique fields).
But in case the user ID property is removed, it may impact https://github.com/electology/approval_frame/issues/13 . I think it may not be appropriate to display the person's email ID (or

[2015-05-16 15:35] ashimaathri commented on #32
@rupalkhilari That is a good point. We still need the username for display purposes and cannot use the email ID due to privacy reasons. We can go with the way you have outlined to make both of them unique and ask the user to enter either during login.
This can be made clearer to the user by using the text 'Enter your email ID or username' as a placeholder/label for the login input box.

[2015-05-16 15:44] ashimaathri commented on #13
@Brianjr0428 Thanks for looking into this issue! The steps that you've outlined are correct. Some additions to these steps are

1. Instead of a username field, we could have a user field that is a foreign key pointing to the User table of Django.contrib.auth. This way, we can ensure that all polls are associated with some existing user and the DB will do this validation for us.
3. We could also ad

[2015-05-16 15:49] ashimaathri commented on #12
Should look at this when working on #5

[2015-05-16 15:53] ashimaathri opened #46 "Highlight winner when poll is over"

[2015-05-16 15:55] ashimaathri opened #47 "Limit poll to specific e-mails set by poll administrator"
The administrator of a poll limits the respondents to only those with specific e-mails. Accounts not attached to the listed e-mails cannot participate in the poll. This feature should be able to be turned on or off by the poll administrator.

[2015-05-16 15:55] ashimaathri opened #48 "Allow password reset for forgotten username/password associated with e-mail."

[2015-05-16 15:55] ashimaathri opened #49 "Permit write-in option"
Participants, when viewing the selection options within a poll, can add an additional option by typing it in and select that option if they choose. This feature should be able to be turned on or off by the poll administrator.

[2015-05-17 00:25] Brianjr0428 commented on #13
@ashimaathri
Thanks for your reply. Just one more thing.
I am not sure if the username is unique, so is it a good idea to associate not only username but email address of the creator with each poll?

[2015-05-17 12:35] ashimaathri commented on #32
@rupalkhilari I've made the changes to ensure that the email is unique in #50.

[2015-05-17 12:47] ashimaathri commented on #13
@Brianjr0428 Sorry, I meant the User _model_ of Django.contrib.auth not table. The table that corresponds to this  model in the database is `auth_user`. The image you've taken only shows the indices on the tables, not the table names. If you scroll up, you should be able to see the table `auth_user`.
The registration module already ensures that the usernames are unique. PR #50 makes the email also

[2015-05-17 17:47] Brianjr0428 commented on #13
@ashimaathri Yes I know it's just index, just wanted to show there are all names I can see since it's difficult to show all table names in one snapshot.
Thanks for your clarifying, I will try to work on this issue!

[2015-05-17 18:34] ashimaathri commented on #13
@Brianjr0428 Great, thanks!

[2015-05-17 22:08] Brianjr0428 commented on #13
Hi @ashimaathri ,
If the user record (int case) is removed, should the polls created by that user be deleted as well?
I am thinking about how to update the poll table now.
Thanks!

[2015-05-18 11:40] ashimaathri commented on #13
@Brianjr0428 That is correct. We can safely assume that if a user wants to delete his/her account, they will not want to see the results of their poll. To create, manage and view the results of a poll, one must be logged in to the system.
Looks like Django does a cascade delete [by default](https://docs.djangoproject.com/en/1.8/ref/models/fields/#django.db.models.ForeignKey.on_delete) for foreign

[2015-05-19 00:00] rupalkhilari commented on #32
Thanks @ashimaathri ensuring that the email is unique. I have added a custom backend to approval_frame/backends.py - not sure if the class should be packaged elsewhere. Please let me know in case of any comments.

[2015-05-19 01:03] #34 closed

[2015-05-19 03:56] Brianjr0428 commented on #13
@ashimaathri I've sent pull request, you can take a look when you get a chance.
Besides the requirements, I've also adjusted the width for the index page so that creator of each poll can display as well as poll questions.
Let me know if it's not appropriate.
Thanks!

[2015-05-19 11:28] ashimaathri commented on #13
@Brianjr0428 Thanks! I will take a look at it as soon as possible.

[2015-05-19 16:12] Brianjr0428 commented on #13
@ashimaathri No problem. Would you like me to send you my .sqlite3 file for review?

[2015-05-21 15:20] ashimaathri commented on #13
@Brianjr0428 Thanks for asking! That will not be necessary though, your code will work with any database. As you're going to change the schema, you will have to create a [migration](https://docs.djangoproject.com/en/1.8/topics/migrations/) and check it in as part of the PR though.

[2015-05-21 16:58] Brianjr0428 commented on #13
@ashimaathri
Thanks for your feedback.
It looks like I need to get more familiar with Django as well as Python.
I will look into them more deeply and fix the issues ASAP.
Thank you!

[2015-05-21 20:56] ashimaathri commented on #13
@Brianjr0428 It was a good first try though. I faced similar issues when I started web development. It's hard to keep security, performance and correctness in the mind while programming for the web but you will soon get used to it :smile:
Feel free to ask questions if you feel stuck.

[2015-05-22 04:23] Brianjr0428 commented on #13
Thank you!
Just give me some time and I think I will make some progress!

[2015-05-30 19:26] #13 closed

[2015-05-30 20:17] rupalkhilari opened #56 "Adding a local_settings.py file"
Would it be a good idea to import our local settings from a local_settings.py file into the main settings.py ? I find it very useful while developing (specifically the EMAIL_* related settings for registration which shouldn't be committed into settings.py)

We could do either 1 or 2 depending on what is agreeable.
1) Overwriting variables - import variables from local_settings.py into settings.py

[2015-06-01 23:05] Brianjr0428 commented on #15
@ashimaathri
I am looking into this issue and I have several questions:

- If my understanding is correct, we need to allow the creator remove the poll he created, and this should be done in the detail page. Is that correct?
- what does 'configurable opening/closing time for polls' means here?
- Anything else I need to pay attention?

Thanks!

[2015-06-02 17:47] souravottawa commented on #19
Hi , Is this issue already been resolved or still we can work on it? thanks

[2015-06-03 11:34] ashimaathri commented on #19
Hi @souravottawa. Some basic instructions for linux are in the README.md file but it would be great if we had a wiki page on Github detailing installation on linux as well as windows with screenshots and common pitfalls. This will be of great help to new users.

[2015-06-03 11:37] ashimaathri commented on #56
@rupalkhilari that will be extremely helpful! I am with you on the first option (overwriting vars + a debug flag).

[2015-06-03 11:45] ashimaathri commented on #15
Hi @Brianjr0428. This issue depends on #14 after which the user will have a home page which lists their polls. The user can then manage the polls from the home page (remove, suspend, edit options etc.)

Configurable opening/closing time means that the poll is open for voting only until a specific time (which is configured by the poll owner). After that only the results of the poll can be seen but

[2015-06-04 03:16] Brianjr0428 commented on #15
Hi @ashimaathri,
How about I try to solve issue #14 first? I will try to create a page for an individual user to review their polls and manage them.
If you think it's okay for me to try it, could you tell me specific requirement for it?
Please let me know how you think. Thanks.

[2015-06-04 18:58] souravottawa commented on #19
Hi , thanks i will start working on it soon.

[2015-06-05 13:56] ashimaathri commented on #15
@Brianjr0428 That would be great! I can't think of any specific requirement but if you get stuck with something, let me know.

[2015-06-09 02:40] Brianjr0428 commented on #14
@ashimaathri
For now my thought is to make user go to their own page listing polls they create.
For this issue, I will just have the page along with options (remove, suspend, edit options etc.) but they are not clickable at this moment since I think we can leave this part to #15.
What do you think?

[2015-06-09 12:23] #32 closed

[2015-06-09 12:24] ashimaathri commented on #14
@Brianjr0428 That sounds good.

[2015-06-11 17:36] Brianjr0428 commented on #14
@ashimaathri
I have sent PR two days ago.
Let me know if you couldn't see it or if you have any comment.
Thanks!

[2015-06-11 19:18] ashimaathri commented on #14
@Brianjr0428 Thanks for the PR. I did look at it, but I haven't had time to go through it thoroughly. Will let you know soon.

[2015-06-11 21:29] Brianjr0428 commented on #14
@ashimaathri
No problem.
Please take your time!

[2015-06-11 21:29] ashimaathri commented on #5
Fixed by #59

[2015-06-11 21:29] #5 closed

[2015-06-11 21:30] ashimaathri commented on #12
Fixed by #59

[2015-06-11 21:30] #12 closed

[2015-06-18 10:30] ashimaathri commented on #56
Fixed by #57

[2015-06-18 10:30] #56 closed

[2015-06-20 15:04] #14 closed

[2015-06-20 15:07] ashimaathri opened #62 "Fix serving of static files when DEBUG=False"
Django doesn't serve static files in production, so we have to configure another web server like apache and include instructions in the README.md.

See https://docs.djangoproject.com/en/1.8/howto/static-files/deployment/

[2015-06-23 00:22] rupalkhilari opened #63 "Sending email asynchronously"
Noticed that django by default (django.core.email) waits for the email to be sent before navigating to the 'email sent' confirmation page. As a result, the application blocks for 2-3 minutes until the email is sent. Perhaps we should look into queuing the mail request or using another thread so that the user is not forced to wait on a specific page (registration, password reset) while the email is

[2015-06-23 12:16] ashimaathri commented on #63
I think that will be good to have. Some other posts I saw on this topic -

1. http://www.nomadblue.com/blog/django/async-mailing-django-amazon-ses-celery-supervisord/
2. http://www.dangtrinh.com/2013/04/asynchronously-sending-email-using.html
3. http://scanova.io/blog/engineering/2014/05/05/asynchronous-email-sending-using-django-post_office-celery/

Looks like there are many approaches to this pr

[2015-06-23 17:39] rupalkhilari commented on #63
@ashimaathri , yes thats a good idea. We should check to see what electology already uses.
Thanks for the resources! I too haven't tried any of them yet so we'll have to evaluate.

[2015-06-24 18:25] rupalkhilari commented on #48
Hi, I will be looking into this issue. Perhaps in the future we should also allow the user to change his/her password and email ID associated with the account.

[2015-06-25 11:59] ashimaathri commented on #48
That would be a good idea. We could have a 'My Account' page with all the relevant details about the user.

[2015-06-26 22:41] Brianjr0428 commented on #15
@ashimaathri
I think I am ready to take this one and I have some questions to clarify:
- Can you give me more detailed requirements for the functionality of suspend and edit?
- For the remove option, do you just want to simply remove the poll itself when clicking it or show a warning message such as review page or a pop-up window?
Thanks!

[2015-06-29 14:06] ashimaathri commented on #15
Great!

* Suspend should basically make the poll 'unvote-able' but not remove it from the database. Meaning that routes to it should return 404 and it should not show up on the index page but it should still show up on the users's 'Manage Polls' page (in case the user wants to reactivate it)
* Edit should open a form where the user can change attributes of the poll like closing date, question, cho

[2015-06-30 00:57] Brianjr0428 commented on #15
This one looks big to me since it involves three changes.
In that case, I would like to divide it into three sub-issues and do PR respectively.
How to you think?

[2015-07-01 18:49] ashimaathri commented on #15
@Brianjr0428 Sounds good! Could you create the three sub issues too? Thanks!

[2015-07-01 22:35] Brianjr0428 opened #65 "Add ability for users to manage polls: delete poll"

[2015-07-01 22:36] Brianjr0428 opened #66 "Add ability for users to manage polls: edit poll"

[2015-07-01 22:36] Brianjr0428 opened #67 "Add ability for users to manage polls: suspend poll"

[2015-07-01 22:38] Brianjr0428 commented on #15
@ashimaathri
I've created three new issue #65 #66 #67.
Just my personal thought, do we still need this issue open?
I will be out of town this week and would be a little busy in for a couple of weeks, but I will find some time to do them.
Thanks.

[2015-07-02 13:00] ashimaathri commented on #15
Thanks @Brianjr0428. We can close issue #15 when we close all the three that you've created (less confusing that way).
Take your time and hope you have a great trip!

[2015-07-08 00:27] Brianjr0428 commented on #15
@ashimaathri
Excuse me, I tried to work it today and pull the code from upstream master(when the last PR happened), but it seems the CSS has gone as below:
![65](https://cloud.githubusercontent.com/assets/4754126/8560499/3a6739f6-24cd-11e5-8e5e-09db8002f1db.png)
Is it what it's supposed to be? Or did I do anything wrong?
I am thinking working on the last changes of issues14 but I am afraid it will

[2015-07-08 12:34] ashimaathri commented on #15
Yes, I noticed this too. After some digging, I found it to be because of issue #62. For now, just set DEBUG=True in settings.py or local_settings.py and everything should work fine.

[2015-07-10 00:54] Brianjr0428 commented on #65
@ashimaathri
My idea for this issue is when the user click the remove button, a pop-up windows shows to confirm removal. Once it has been confirmed, the page will be redirected to a confirm page.
Let me know if this is what you want.
Thanks.

[2015-07-10 22:37] ashimaathri commented on #65
I like the popup idea (you can use [bootstrap's alert](http://getbootstrap.com/components/#alerts) component for this). I didn't understand why the user should be redirected to a confirm page though. We can just stay on the  same page right?

[2015-07-10 22:40] Brianjr0428 commented on #65
That's correct.
Actually I've tried for a while yesterday and so far my understanding is the poll id has to be passed as the request and it will have to show in the URL. In that case, the page can't remain the same (../approval_polls/my-polls/) since the url for my_poll does require any id (../approval_polls/<id>/my-polls/) .
I can elaborate if you don't understand what I mean.

[2015-07-10 23:15] ashimaathri commented on #65
You are right about the poll id being required in the url. As per the [REST interface] (https://en.wikipedia.org/wiki/Representational_state_transfer#Uniform_interface) specifications, the url for deletion should be the same as the url to access the poll. The only difference will be that to access the poll, we use an HTTP GET request but to delete it we will use an HTTP DELETE request.

For a good

[2015-07-10 23:23] ashimaathri commented on #65
In JavaScript, we will have to register an event handler for the 'click' event on the delete button. This should show a boostrap alert with the confirmation and cancellation buttons.

The cancellation button should do nothing other than close the alert box  (in its click event handler).

The confirmation button's 'click' event handler should make the ajax request to the server. Then the server wil

[2015-07-10 23:36] Brianjr0428 commented on #65
Thanks!
I will dig into that.
This is a very good front-end learning experience!

[2015-07-26 08:17] rupalkhilari commented on #16
I would like to look into this issue. I believe it would add another option to configure a newly created poll. (Looks like we might be moving towards creating an additional 'Poll Settings' section in the 'Create Poll' page - which would contain the poll 'edit' options).
Perhaps we could also integrate an optional [social authentication](https://python-social-auth.readthedocs.org/en/latest/) requir

[2015-07-27 12:29] ashimaathri commented on #16
@rupalkhilari thanks for volunteering to look into this issue. I believe this issue is a duplicate of #15 and #7. @Brianjr0428 is already looking into #15 and has added a 'Manage Polls' section with each poll having edit/delete/suspend options. It would be great if you could look into #7 as that is the only blocking issue left before this app becomes usable.
Social authentication would also be a u

[2015-07-28 17:11] rupalkhilari commented on #16
Yes, this one is similar to #7 . I'm not sure if #7 should also look into perhaps integrating an option for something like an [evercookie](https://github.com/gdmka/django-evercookie) - haven't tried that earlier though.
I shall look into adding the vote tracking based on the user/email. We could have this as a configurable option for the poll at first and maybe switch it to the default behavior if

[2015-07-29 01:04] ashimaathri commented on #16
Thanks @rupalkhilari! That'll be great. I did not understand the configurable part though. Could you elaborate a little bit on that?

I just read up on evercookie and I'm wondering if we really need them. It looks like their main use case is to track user activity and hence know their preferences. Our main use case is to collect votes *without* recording who voted for what. So, I think we should s

[2015-07-29 18:20] rupalkhilari commented on #16
Hehe :smile: , yes I believe it I suggested it only to overcome the fact that regular cookies are not cross browser :( . But I went through other polling applications like SurveyMonkey and BallotBin and they too seem to be using regular cookies.
By configurable, I was suggesting that the poll creator could be given a choice of the following while creating the poll:
* Whether they want the poll to

[2015-08-03 18:23] Daniel-Avila commented on #7
Is someone already working on this? It seems like a very simple fix. I would hate to duplicate work efforts.

It is really a simple matter of adding the user as a foreign key on the ballot and checking against that.

Can I take this one if it is not actively being worked on?

[2015-08-03 19:47] Daniel-Avila commented on #62
This is something well within my ability if I had access to do it.

[2015-08-03 19:49] Daniel-Avila commented on #40
I regularly set up CI with Jenkins. This is something well with in my ablity if you would like to chat about it.

[2015-08-03 19:52] Daniel-Avila commented on #15
This was last updated 26 days ago. I would like to take a swing at this.

[2015-08-03 20:24] rupalkhilari commented on #7
Hi @Daniel-Avila , I had begun working on https://github.com/electology/approval_frame/issues/16 which I believe is a subset of this issue (the part that you mentioned) - there seemed to be an overlap here.  I realized that I will be quite busy until the end of this month, so please feel free to look into that if you think it could be completed earlier.

[2015-08-03 20:26] rupalkhilari commented on #16
Hi @ashimaathri , I realized that I might be a little busy until the end of this month, so if anyone else is interested in looking into this by then, please do. Thanks!

[2015-08-03 22:38] rupalkhilari opened #69 "Integrating social authentication"
It'd be nice to integrate social authentication that would allow users with Google/Facebook/Twitter accounts to login, (and probably vote) without requiring them to create an account on the polls application. [This](https://python-social-auth.readthedocs.org/en/latest/) may be a good resource.

[2015-08-04 00:17] ashimaathri commented on #16
@rupalkhilari I like the idea of making the poll configurable with regards to voting. I don't think the last two options are required right now. Lets get the simplest version working and then we can go forward with the other configurations.

[2015-08-04 00:20] ashimaathri commented on #62
Hi @Daniel-Avila. Thanks for taking a look at this. Could you include the instructions in the README and submit a PR for it?

[2015-08-04 00:22] ashimaathri commented on #40
@Daniel-Avila that sounds great! Would it be possible for you to integrate it with Travis instead (because we don't have any dedicated infrastructure for this project and Travis is free for open source projects)?

[2015-08-04 00:26] ashimaathri commented on #15
@Daniel-Avila we split this issue into 3 parts and @Brianjr0428 is looking into the first part #65. It would be great if you could look into one of the other two (or maybe both :smile:  ) #66, #67

[2015-08-04 01:24] Daniel-Avila commented on #67
I can take this one.

[2015-08-04 01:24] Daniel-Avila commented on #66
and I will take this one also.

[2015-08-04 06:48] Daniel-Avila commented on #15
Sure thing!

[2015-08-04 20:55] Daniel-Avila commented on #66
Ok submitted a pull request for this one. Im sure you will let me know when it gets merged or if you need to kick it back to me.

[2015-08-04 20:56] Daniel-Avila commented on #67
What exactly do we mean by "suspend" a poll? What if the poll gets unsuspended after the poll's close_date (which is a new thing so we might have to chat about it.)

[2015-08-05 04:58] ashimaathri commented on #66
Thanks @Daniel-Avila! I see that you're still working on it. I'll look at it as soon as possible (probably after Thursday this week).

[2015-08-05 05:00] ashimaathri commented on #67
Hmm. I hadn't thought of that. Maybe we could prompt for a new date in such a case? What do you think?

[2015-08-06 18:19] Daniel-Avila commented on #67
If prompting is what you want. Then prompting is what you shall have! :)

So how about this:
* When a poll gets "unsuspended":
    * The user is redirected to the Edit Poll page with the poll data in place in the form.
    * If there are any issues we can load helpful messages into the PollUpdateForm's  non_field_errors which are displayed in the form if they exist.
* Possible issues:
    * The po

[2015-08-06 18:22] Daniel-Avila commented on #67
Another option would be to calculate the time delta from the original open and close dates and reset the close date from "now" + calculated_time_delta. IIF the close date is in the future.

As always the poll's owner will always have the option to edit.

[2015-08-06 21:22] Daniel-Avila commented on #67
Ok so this one is done and in the pull request. Play with it and see what you think.

Lets find something else to work on now.

[2015-08-06 21:23] Daniel-Avila commented on #65
So is this one moving forward? I can take it if nobody is working on it.

[2015-08-06 21:25] Brianjr0428 commented on #65
I'm working on it and waiting for the feedback from ashimaathri.
I think you can work on other issues unless ashimaathri wants you to take it.
Thanks.

[2015-08-07 15:09] ashimaathri commented on #65
@Brianjr0428, @Daniel-Avila, sorry for the confusion. We should look more into the issue tracker idea that @Daniel-Avila has suggested to avoid stepping on each other's toes!

[2015-08-07 17:31] Daniel-Avila commented on #40
Sure .. ive never used travis before but Im sure I can do it.
Do you have any details?

[2015-08-07 17:37] Daniel-Avila commented on #40
@ashimaathri Ok we are going to have to work a little more closely with this.

I don't have access to the electology repo so I cannot create the account or give authorization for TravisCI once that is done by someone with read/write permissions on the approval_frame repo and creates a TravisCI admin account for me I can get it set up.

[2015-08-07 18:11] Daniel-Avila commented on #33
@ashimaathri I can do this one and get it checked in.

Have you had time to do a code review on my pull request?

[2015-08-11 19:00] Brianjr0428 commented on #46
@ashimaathri I am thinking about doing this.
When #66 is fixed. Could you let me know what kind of highlight you would like for the winner of closed poll?
Thanks.

[2015-08-12 13:28] ashimaathri commented on #46
Thanks @Brianjr0428. To start with, the [`text-success`](http://getbootstrap.com/css/#helper-classes-colors) class along with a [label](http://getbootstrap.com/components/#available-variations) that says winner would be good. We can discuss if it needs to be modified after looking at the final result.

[2015-08-12 16:26] Brianjr0428 commented on #46
Thanks @ashimaathri.
Since the winner will be highlighted after the poll is over, I can wait until the model has been modified with close date.
Let me know if you have different thought.
Thank you.

[2015-08-31 13:44] cwsusa commented on #40
@Daniel-Avila Are you auto-installing-configuring? I've experience with Chef (and a little ansible, which I don't like) can help if you've more left to do than wait on the access and admin account.

[2015-09-23 21:59] rupalkhilari opened #72 "Add an account information page for a user"
The username at the bottom of the panel could link to the user's account information - which includes some useful statistics about the user:
1) Member since (date)
2) Last login (date)
3) Total number of polls created (and a link to them).
4) Change username and/or email.
4) Change password. (Adding this requirement to another ticket)
5) Opt in/out for newsletter subscription. (After https://githu

[2015-09-23 22:01] rupalkhilari opened #73 "Allow the user to change his/her password"
The user should be given the ability to change his/her password via an accounts information page (created as a part of https://github.com/electology/approval_frame/issues/72)

[2015-10-17 17:23] rupalkhilari commented on #16
Added a 'Poll Settings' panel in the 'create poll' page - through which the poll administrator can control who can vote in the poll.

It now allows two types of polls:
1) Anyone can vote, any number of times (previous behavior)
2) Only registered voters can vote, once - requires login.

This does not include the ability to update ones existing ballot. We could perhaps handle that in another ticket

[2015-10-17 17:29] rupalkhilari opened #75 "Allow registered users to update their ballot"
If a poll has been marked as type 2 (only registered users can vote), it would be nice to allow the user to update his/her ballot anytime before the closing date of the poll is reached (to be implemented in https://github.com/electology/approval_frame/issues/15) . Currently, with this setting, the user is only allowed to enter their ballot once, after which he/she is not allowed to vote in that po

[2015-10-17 17:30] rupalkhilari commented on #16
https://github.com/electology/approval_frame/issues/75 has been raised to allow a registered user to update an existing ballot.

[2015-10-17 17:31] rupalkhilari commented on #16
Closed by https://github.com/electology/approval_frame/pull/74

[2015-10-17 17:31] #16 closed

[2015-10-17 17:35] rupalkhilari commented on #7
Have added a 'Poll Settings' panel which allows allows the user to choose whether he/she prefers only registered users to vote/ or anyone to vote. This probably partially addresses the issue of ballot stuffing.
https://github.com/electology/approval_frame/issues/16

[2015-11-04 19:47] rupalkhilari commented on #48
Implemented in PR - https://github.com/electology/approval_frame/pull/64

[2015-11-04 19:47] #48 closed

[2015-11-06 23:25] kushankr commented on #72
I am working on this.

[2015-11-07 05:48] kushankr commented on #73
Working on it!

[2015-11-15 23:20] rupalkhilari opened #77 "Creator can place an external link next to an option."
Allow the creator of a poll to place an external link next to an option. Perhaps it could allow the user to use markdown link syntax  to start with, or add a link/button to create the external link.

[2015-11-15 23:24] rupalkhilari opened #78 "Leading option has different color"
Allow the poll to be configured to display the option with the leading number of votes in a different color.
This option could be added to the 'Poll Settings' panel while creating a new poll.

[2015-11-15 23:27] rupalkhilari opened #79 "Show how many people have voted"
Currently, the poll results only display the results in terms of votes and ballots, perhaps it could explicitly mention the number of people voted in the poll.

[2015-11-15 23:28] rupalkhilari opened #80 "Allow user to copy html embed code"
In the embed_instructions.html page, provide a 'Copy text' button to facilitate easy copying of the html snippet to clipboard.

[2015-11-15 23:30] rupalkhilari opened #81 "Create optional countdown for when a poll closes"
Following the implementation of https://github.com/electology/approval_frame/issues/15 , when poll closing date/times are added to a poll, create an optional countdown for whien a poll closes.

[2015-11-19 11:00] kushankr commented on #73
Done with this! Incorporated the feedback Rupal gave.

Testing now!

[2015-11-19 11:01] kushankr commented on #72
Done with this! Incorporated the feedback Rupal gave.

Testing now!

[2015-11-19 18:19] rupalkhilari commented on #72
Cool..Thanks for looking into it !

[2015-11-28 19:45] kushankr commented on #72
@rupalkhilari
Initiated a pull request, Rupal. Please review it and please let me know what you think.

Reg this issue and issue 73:
I added the tests. Incorporated the feedback you gave.
Had to re-work the code as I wanted the username and password change forms to look and function like login/registration forms. I have tested the code, in addition to adding automated tests, and it is working fine

[2015-11-28 19:45] kushankr commented on #73
@rupalkhilari
Initiated a pull request, Rupal. Please review it and please let me know what you think.

[2015-11-30 00:17] rupalkhilari commented on #73
Thanks a ton, Kushank ! I shall check it out and let you know within a day or two.

[2015-12-05 23:07] kushankr commented on #72
PR#82

[2015-12-05 23:07] kushankr commented on #73
PR#82

[2015-12-08 19:53] #72 closed

[2015-12-08 19:53] rupalkhilari commented on #72
Thanks Kushank !

[2015-12-08 19:54] rupalkhilari commented on #73
Thanks Kushank !

[2015-12-08 19:54] #73 closed

[2015-12-09 03:37] kushankr commented on #80
Working on this!

[2015-12-11 21:22] kushankr commented on #80
Hi Rupal,

I have coded for this and I thought that I will ask you for your thoughts.
I have attached the screenshots.
![issue 80 - 1](https://cloud.githubusercontent.com/assets/8802245/11755731/5a0da86e-a022-11e5-9b44-abdf9861ddcf.JPG)
![issue 80 - 2](https://cloud.githubusercontent.com/assets/8802245/11755733/5dcdbe9e-a022-11e5-8c41-f9552d137d7d.JPG)
![issue 80 - 3](https://cloud.githubuserconte

[2015-12-12 20:06] rupalkhilari commented on #80
Hi Kushank,

Thanks for looking into this ! The changes look really good. Though I would think that the 'Copy to Clipboard' button should be aligned to the top right of the textarea box, above it (as it is done [here](http://s3.amazonaws.com/screensteps_live/images/hubspot/142684/1/rendered/9790afa3-ad2d-4f58-9c4b-be924587af2c.png)) or below the textarea box (as [here](http://twitterbootstrapbutto

[2015-12-12 21:04] kushankr commented on #80
Thank you, Rupal for your feedback. I will work on aligning the 'Copy to Clipboard' button.

[2015-12-13 03:34] rupalkhilari opened #83 "Update README.md to add style, email details"
Need to update README.md to add the following:
1) Style guide recommendations for the project.
2) Example of variable values in the local_settings.py

[2015-12-14 00:46] kushankr commented on #80
[PR#84](https://github.com/electology/approval_frame/pull/84)

I have incorporated the feedback you provided, Rupal.
Please review the PR, Rupal

Thank you, Rupal.

[2015-12-15 19:29] rupalkhilari commented on #80
Thanks, Kushank. It looks great now, closing this.

[2015-12-15 19:29] #80 closed

[2015-12-16 10:55] kushankr commented on #75
I am going to work on this. Also, related to this, I will allow the user to select 'poll closing date' on 'Create' page. This closing date can be later edited using 'Edit' functionality (another ticket).

[2015-12-17 00:38] kushankr commented on #81
Will Work on this!

[2015-12-17 09:06] rupalkhilari commented on #83
Addressed in https://github.com/electology/approval_frame/pull/85

[2015-12-17 09:06] #83 closed

[2015-12-18 02:02] kushankr commented on #75
@rupalkhilari

This is going to be a huge post, Sorry. This post also related to #81
I wanted to request feedback on the following:

1) As I mentioned that I am going to allow user to select a closing date in 'create' page, right now i am currently placing it in 'poll settings' panel in 'create' page. The question is related to TIME ZONE. The poll closing date should be in the timezone of the user

[2015-12-18 09:13] rupalkhilari commented on #75
Hi Kushank,

Thanks so much for looking into these related issues! I have commented in the order you mentioned.

1) Yes, all dates and times should be in the timezone of the user in order to avoid confusion(since the user will be selecting a date keeping that in mind). Currently, since we have set USE_TZ=True in settings.py, all datetime objects are converted into  UTC time and stored into the dat

[2015-12-18 10:18] kushankr commented on #75
Thanks Rupal!

I am fine with everything but regarding the screenshots, what I initially planned is that I will let the user to select only a date. My idea was as soon as a new date arrives, poll is closed. So the current calendar is showing date according to timezone of the user. I also felt that this is what Sparky was coding towards in his models code.

But anyways, I will try to create a way f

[2015-12-19 05:20] kushankr commented on #75
Sorry to bother you again, Rupal. I just wanted confirmation on one more item: If the user has already voted, instead of a 'Vote' button, i want to show 'Update Vote' button and a message saying that the user has already voted in the poll and can update the vote before 'closing_date'. One more thing: A user can update vote any number of times before closing date right?

Thank you for your valuable

[2015-12-19 08:57] rupalkhilari commented on #75
Hi Kushank,

Yes, I see your point about having the date alone, but I wonder if that would lead to ambiguity in different timezones. Not sure if i am missing something though. Eg. The poll closing date is set to 25th Dec. 2015 IST, so if the closing date for display in PST is 24th Dec. 2015, it would allow lesser hours for the voter there, and if it showed 25th Dec. 2015, it would allow a few more

[2015-12-19 16:10] kushankr commented on #75
Thank you Rupal for your feedback.

Regarding the timezone issue, this is what I have in mind now:

 I will explain by an example.

So say I am a user in MA and I selected 20th Dec, 2015 10:45 A.M. as closing date and time. You are in PST and you will see closing date and time as the one I selected and with EST added as timezone/ see corresponding closing date and time in PST. For you poll will cl

[2015-12-19 19:59] rupalkhilari commented on #75
Thanks for the detailed explanation, @kushankr . Yes, I thought of it in the same way too - including both date and time. Timezone is indeed always an important consideration - thanks for identifying it and taking care of it.

[2015-12-22 09:31] kushankr commented on #75
I have been dealing with the timezone issue

Here is the line in settings.py file

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'America/Los_Angeles'

That is why when I

[2015-12-22 11:02] kushankr commented on #75
Ok, so I just found a way to save user's local date time in UTC DB without it using LA timezone. I had to factor in the offset and set the tzinfo. It is always weird: I spend time figuring out something for hours and i message you and immediately after that, I come up with a way to fix it!

However, I was wondering @rupalkhilari  what do you think of changing TIME_ZONE = 'America/Los_Angeles' to T

[2015-12-22 11:25] kushankr commented on #75
I have deleted my previous messages to avoid any confusion.

My problem was: I was not able to find a way to save user's local time in DB. As we know, DB stores time in UTC. However, it requires timezone info. I was not supplying the timezone info and it was using default time zone (LA time) from settings.py. I found a way to save user's local date time in UTC DB without it using LA timezone. I ha

[2015-12-22 20:50] rupalkhilari commented on #75
Yes, it is a bug, it should have ideally displayed the user's local time. I believe I didn't notice that since I am also in the 'America/Los_Angeles' timezone and hence the datetime beside the published polls appears correct to me. You should go ahead and change TIME_ZONE to UTC in the settings.py for consistency. All datetimes in the database are in UTC.

You mentioned that you are using offsets

[2015-12-22 23:37] rupalkhilari commented on #62
Addressed in https://github.com/electology/approval_frame/pull/86

[2015-12-22 23:56] rupalkhilari commented on #62
This has been deployed on the server. Made use of [dj-static](https://pypi.python.org/pypi/dj-static) to help the app serve static files in production, when DEBUG=FALSE.
Updated the README.md to include deployment instructions. Also added a 404.html page that will be displayed in case the target page is not found (such as [this](http://104.236.228.34:8001/approval_polls/some_invalid_url))

[2015-12-22 23:56] #62 closed

[2015-12-23 04:37] kushankr commented on #75
Thank you, Rupal

I will change it to UTC.

Regarding timezone, i am using jquery datepicker now. Because third party bootstrap datepickers have a few bugs. So, in the.js file, I am using a javascript offset function (one line) to get offset and send it to form.

I evaluated other options too including pytz or middleware -
i did not want user to select timezones from a dropdown in template. I want

[2015-12-23 23:13] rupalkhilari commented on #75
It is good that official jQuery datetime picker would serve your purpose - always preferred to third party controls.
As you have mentioned, I would also not prefer having the user select his/her timezone - it seems like an unnecessary overhead for the user to manage. Centralized javascript code for this should be totally fine.
Thanks!

[2015-12-24 16:52] kushankr commented on #75
@rupalkhilari

So, I wanted to ask you if i can install a 3rd party python package named 'tzlocal' to fix our timezone issues. I have researched everything and tried everything - to fix published date bug, i have to install 'tzlocal' and use django middleware to set timezone of app to timezone of user.

I was using javascript offset to help me with my close_date (it only sends timezone offset) but

[2015-12-24 23:01] wolftune opened #87 "Add a free/libre/open license!!"
This code is all-rights-reserved by legal default until you add a license. Furthermore, you have to handle all sorts of challenges when accepting code from others if the licensing isn't clear. If you have a LICENSE file here, then others who adjust the code in a repository that has the same file can at least be assumed to stick to the same license.

I would consider GNU AGPLv3+ (+ means include th

[2015-12-24 23:06] will-martin commented on #87
afuerro is the most onerouse GPL and forces all deployments to expose their codebase: a major security hole in election oriented work.

[2015-12-24 23:08] wolftune commented on #87
"expose their codebase" is arguably *healthy* for security by some arguments, but I see the point. So, don't go with Affero then.

[2015-12-25 06:41] kushankr commented on #75
@rupalkhilari

I have found a way using 'pytz' module instead of 'tzlocal'. I think it is fine to use pytz and django middleware to resolve our timezone issues right?

[2015-12-25 09:17] rupalkhilari commented on #75
Yes @kushankr , the middleware solution with pytz seems to be a recommended one, though I was wondering if tzlocal would return the local timezone of the server rather than the client. I believe the database entries would retain the UTC timezone after the timezone.activate().

Since you are not making using of Javascript at the client, could you outline your method of finding the local timezone to

[2015-12-25 09:24] rupalkhilari commented on #87
@wolftune , thanks for raising this issue. We hadn't yet started considering the license part of this yet since the project is in its alpha stage. [This link](http://choosealicense.com/licenses/) was pretty useful for me to understand the finer points of the licenses you mentioned. GNU GPLv3+ does seem pretty favorable, probably something we could discuss with Aaron as well ?

[2015-12-25 09:27] kushankr commented on #75
Hi Rupal,

Thank you for your reply.

 1) tzlocal method is get_localzone() -> it returns the local timezone of client and not the server.

2) for pytz -> i am using reference.LocalTimezone()

I am not using both - we can use either 1 or 2. tzlocal which is a part of dateutils is recommended in most places. In pytz docs, it is said that pytz.reference should be used only for tests [pytz - referenc

[2015-12-25 09:53] kushankr commented on #75
I will research more on this, Rupal. See if i can get more options to use for timezone.activate().
However, i thought that i would ask you: Do you have any suggestions on this?

[2015-12-25 17:33] wolftune commented on #87
@rupalkhilari I hesitated to post that link because even though it is generally accurate, it's carefully structured to just slightly downplay GNU licenses (within the range of plausible deniability) because the GitHub folks behind it have a conflict-of-interest wanting to promote permissive licenses that can then be co-opted into proprietary stuff because GitHub's income comes from offering privat

[2015-12-26 03:37] rupalkhilari commented on #75
Yes @kushankr, can you elaborate at what stage you are attempting to run reference.LocalTimezone()/ tzlocal.get_localzone() ?
. I did a few tests with setting TIME_ZONE to UTC in settings.py, and the server seemed to be returning 'UTC' itself instead of the local timezone. Let me know in case I am missing something.
I think this indeed is a tricky problem to solve, I was wondering if we might need

[2015-12-26 08:25] kushankr commented on #75
I am using reference.LocalTimezone()/ tzlocal.get_localzone()  in a custom middleware class. So i created a folder named middleware in approval_frame/approval_frame and created a class in it. Then i registered this middleware class in settings.py.

My code of middleware class:
from django.utils import timezone
from tzlocal import get_localzone
from pytz import reference

class TimezoneMiddleware(o

[2015-12-26 10:44] kushankr commented on #75
@rupalkhilari

Can you plz elaborate more on this?
* Once that is done, there could be a couple of possibilities:
it could be saved into the request object and activated in the middleware. (more consistent solution)*

I am planning to put 'var tz = jstz.determine();' in a js file for index.html or a .js file for base.html -> append it as a hidden input -> and send it as a part of request object ->

[2015-12-27 09:48] rupalkhilari commented on #75
@kushankr , sorry for the delayed response. But using tzlocal in the middleware (in process_request) would return the local timezone of the server and not the client. I did a test on the server to verify this. Sadly, I haven't been able to find a way other than Javascript to reliably find out the client's timezone name, and jstz seemed to be doing well enough for our requirements.

By the point I

[2015-12-27 10:02] rupalkhilari opened #88 "Display datetimes in the user's system timezone"
The default TIME_ZONE as set in the settings file is 'America/Los_Angeles' resulting in all dates and times being rendered in this particular timezone (irrespective of the user's timezone) . (Thanks @kushankr  for pointing this out!) . Thus the dates and times displayed in the home page can be quite confusing to the user.

We would like all dates and times to be rendered in the user's timezone aut

[2015-12-27 10:05] rupalkhilari commented on #75
I have raised https://github.com/electology/approval_frame/issues/88 to track this timezone issue (although most of the discussion has happened here). We could use this current issue to track the 'updating ballot' requirement. Thanks!

[2015-12-27 11:47] kushankr commented on #75
@rupalkhilari

Thank you, Rupal! Thank you for suggesting 'jstz'. I also think that using javascript to find out client's timezone is an optimal solution.

Thank you for raising this as a separate issue. I am working on it.

[2015-12-27 11:47] kushankr commented on #88
Since this was initially a part of #75, I will be working on this! Thanks Rupal for raising this as a separate issue!

[2015-12-28 04:44] rupalkhilari commented on #88
Thanks Kushank !

[2015-12-29 18:46] kushankr commented on #88
@rupalkhilari

Hey Rupal,
"We would like all dates and times to be rendered in the user's timezone automatically" -> Regarding this, should the timezone of user be activated on login or should it be activated by default?
Here is the thing:
I am loading a javascript for 'base.html'. Through this js code, I want to send user's timezone obtained by 'jstz' to view and save it.

There are 2 ways i have

[2015-12-30 08:57] rupalkhilari commented on #88
@kushankr Thanks for the detailed post. I haven't worked on such a problem earlier so it was a good insight for me too.
I too would go for the AJAX route, since i see how the synchronous form post methods could add a significant delay. Also we would want to avoid using cookies at this point which might fail in case they have been disabled.
As I understand it, I am assuming that the sequence of eve

[2015-12-30 13:35] kushankr commented on #88
Thank you, Rupal for your reply.  Your understanding is correct. I found your suggestions very valuable.

The AJAX code you posted is EXACTLY what I wrote too! Recursive loading of pages was a problem in NON AJAX POST. In AJAX, the pages do not re load.

I have tried this: window.location.reload(); on success before. I had a concern that the date time changes as the user is looking at it.  So if i

[2015-12-30 21:20] rupalkhilari commented on #88
Hi Kushank,

Sure, thats a good suggestion to prevent the reloading. Please go ahead with this and we can test it out further once you submit the PR.

    if (timezone_name == "{{ TIME_ZONE }}") {

will this be sending GET requests even when the apps current timezone and user's timezone are the same ?

[2015-12-30 22:13] kushankr commented on #88
Hi Rupal,

I have modified the code since morning as I was thinking over it. Yes, you are right that with the script i provided,  AJAX requests will be sent even when apps current timezone and user's timezone are the same. I am still modifying the script.

I will keep you updated.

[2015-12-30 22:19] kushankr commented on #88
Here is the modified script:

    <script>
      var timezone = jstz.determine();
      var timezone_name = timezone.name();
      if (timezone_name != "{{ TIME_ZONE }}") {
        $('body').append('<form id="set_timezone"></form>');
        $('#set_timezone')
              .attr("action","/approval_polls/set-user-timezone/") .attr("method","get")
              .append('<input type="hidden" name="

[2015-12-31 00:59] rupalkhilari commented on #88
@kushankr , thats good. Hopefully all should work well with this non Ajax route.

Thanks!

[2015-12-31 01:10] kushankr commented on #88
Initiated a PR.
#89

Thank you, Rupal, for helping me out with this issue. When you get time, please review my PR and let me know what you think. Thanks a lot, Rupal.

[2016-01-01 00:17] rupalkhilari commented on #88
Thank you Kushank, also for patiently working to find the optimum solution to this. I checked out the changes, everything seemed all good to merge except a couple of very minor things.

[2016-01-01 01:39] kushankr commented on #88
Thank YOU, Rupal. Without your input and suggestions, I would not have been able to find the optimal solution. Thank you for helping me out with this issue.

I have updated the PR.

[2016-01-02 07:14] rupalkhilari commented on #88
https://github.com/electology/approval_frame/pull/89
Thanks @kushankr ! I too learnt new things on the way !

[2016-01-02 07:14] #88 closed

[2016-01-04 19:58] rupalkhilari commented on #87
I see, thanks for the link. It was very informative! @AaronHamlin suggested that we go ahead with the GNU GPLv3 license for now, and we could change it later if necessary. I have added the LICENSE file, though have not yet modified every source code file to put in the copyright notice (as mentioned in the license) . I was wondering if there are any other distinctions - this being an open source pr

[2016-01-04 21:13] wolftune commented on #87
FWIW, lots of these git repos don't need the per-file stuff as much since Git kinda manages the whole thing, and just a top-level LICENSE file is adequate

[2016-01-05 04:50] lpsmith commented on #87
Changing the license later isn't necessarily so simple.   Unless a contributor is an _employee_ of the Center for Election Science,  _or_ have signed a written statement of copyright assignment (copyright assignment cannot be a verbal agreement),  the current owners of the copyright on this software is the seven contributors.    These contributors own the copyright on their respective contribution

[2016-01-05 04:58] wolftune commented on #87
While everything @lpsmith said is accurate, I should add some points:

GPLv3 is easily one-direction compatible with AGPLv3, so that change is easier. Also, while a CLA can seem nice, it's somewhat of a trust issue. Some contributors will feel less comfortable with a CLA. The thing that best assures stability in the commons is when something is copyleft (like GPL, ideally AGPL, although issues wit

[2016-01-05 05:26] lpsmith commented on #87
Well, a Contributor License Agreement doesn't necessarily imply copyright assignment,  though it often does.    It's not a terrible idea to obtain CLAs from everybody to clarify that the contributors retain the copyright and that they offer the software under whichever license the project is using.

[2016-01-05 06:54] wolftune commented on #87
CLA does not imply copyright assignment, but it tells people that they will *not* need to be consulted (i.e. they will have no vote in consenting!) on the license change for the project, regardless of having copyright on their own work still. That's why some contributors distrust CLAs, it looks like a thing projects can use to unilaterally go proprietary or something later.

Dani Ariely says, "It

[2016-01-05 16:36] kushankr commented on #75
Just wanted to update: I am working on this issue after #88

[2016-01-06 20:09] kushankr commented on #75
Initiated a PR
#91

Please review it, Rupal and let me know what you think.

[2016-01-09 18:15] octy40 commented on #19
I'd like to work on this as I'm going to setup a new environment and it seems like the easiest issue available. @souravottawa let me know if you already have one already or @rupalkhilari let me know if there's no need for this. Thanks!

[2016-01-10 00:35] rupalkhilari commented on #79
We do not require this since the poll results already display the results in terms of 'ballots'. It will not be easily possible to track the distinct number of 'people' who voted on polls that do not require one to be registered to vote.

[2016-01-10 00:35] #79 closed

[2016-01-10 00:52] rupalkhilari commented on #75
Implemented in https://github.com/electology/approval_frame/pull/91
Thanks @kushankr !

[2016-01-10 06:30] kushankr commented on #81
Will be working on this!

[2016-01-11 08:49] kushankr commented on #81
@rupalkhilari

Hi Rupal,

Should display of poll countdown be configurable in poll settings panel? Can a user select if he/she wants a poll countdown to be displayed (while creating a poll)?
OR
Should ALL polls that have a closing date and time and whose closing date and time is not reached should show a poll countdown?

Thanks.

[2016-01-11 20:58] rupalkhilari commented on #81
Hi Kushank,
I think the user should have 2 options in the Poll Settings panel:
1) One for displaying the end datetime of the poll (displays very small static text - perhaps somewhere below the Vote button or any other place which is visible to the user)
2) Another for displaying the countdown which could take from the user 'x' days, 'y' hours before the poll closes. (displays a countdown ticker/ti

[2016-01-11 21:17] kushankr commented on #81
Hi Rupal,

I was planning to include a continuous ticker with seconds. I feel that it would be a lot better.

I was thinking to include only the ticker just below the 'vote' button. But if we are adding two options - displaying end datetime as well as countdown ticker, I can do it the way you have suggested.

Thanks, Rupal!

[2016-01-11 21:40] rupalkhilari commented on #75
Hi Kushank,

I'm so sorry, but i might need to reopen this issue for a couple of issues I noticed:
1) If the page is not refreshed, I am able to vote/update a vote after the poll's closing datetime. (eg. Created a poll with closing datetime as today 1.00pm, if my page is open before the closing time, the button is still activated after the closing time and hence i can vote/update vote.)
2) In the

[2016-01-11 21:54] kushankr commented on #75
Oh, the first issue - I will resolve it.

Reg the second issue, the current time is selected because it is an inbuilt functionality. Anyways, I will try to fix it too.

[2016-01-11 22:04] rupalkhilari commented on #81
Cool, sounds good @kushankr. I think the user will have more flexibility with both options and can customize the poll according to his/her preference.

[2016-01-11 22:10] rupalkhilari commented on #75
Great ! Thanks, @kushankr

[2016-01-13 08:26] kushankr commented on #75
Initiated a PR.
#92

Thank you, Rupal for pointing out the issues. I have thoroughly checked the functionality of jquery datetimepicker this time. It seems to be all good. But please let me know if you think I missed anything.

[2016-01-14 01:43] rupalkhilari commented on #75
Thanks, Kushank ! Everything looks perfect  :smiley:
Closing this https://github.com/electology/approval_frame/pull/92

[2016-01-14 01:43] #75 closed

[2016-01-14 01:54] rupalkhilari commented on #19
@octy40 , Since there hasn't been an update for quite some time, I think we can assume that you can take it up. It is a low priority ticket, but you can always pick it up if it interests you.
Thanks!

[2016-01-15 03:16] rupalkhilari commented on #47
Evaluating (django-invitation)[https://pypi.python.org/pypi/django-invitations/1.6] and other options for this.

[2016-01-17 05:25] kushankr commented on #81
#94

Initiated a PR. Thanks, Rupal.

[2016-01-18 17:14] octy40 commented on #46
Hey @rupalkhilari  I wanted to take a stab at this issue, but due to my newness to Django. I'm a bit lost to where to look or start. Can you give me, if you can, simple directions?

[2016-01-20 05:07] rupalkhilari commented on #46
Hi @octy40 , you should start with understanding the layout of the Django project structure, approval_frame project layout and [how Django implements MVC](https://docs.djangoproject.com/en/1.8/faq/general/#django-appears-to-be-a-mvc-framework-but-you-call-the-controller-the-view-and-the-view-the-template-how-come-you-don-t-use-the-standard-names).

I encourage you to take your time looking around

[2016-01-21 03:54] rupalkhilari commented on #81
Addressed in https://github.com/electology/approval_frame/pull/94
Thanks, Kushank !

[2016-01-21 03:54] #81 closed

[2016-01-21 03:59] rupalkhilari commented on #87
Thanks for sharing your knowledge of the finer points of license change. We probably will not be changing the GNU GPLv3 in the immediate future. So for now, I shall close this one since the license file has been added to the project.
Thanks!

[2016-01-21 03:59] #87 closed

[2016-01-21 06:21] kushankr commented on #69
Have started working on this!

[2016-01-21 08:32] lpsmith commented on #87
There is a similar sort of asymmetry between the AGPL and GPL as there is between the GPL and Apache:    moving from AGPL to GPL would require consent of the copyright holders,  whereas moving from GPL to AGPL could be difficult to make stick.

As for my personal opinion on licensing for this project,  it depends a bit on what this project is really trying to accomplish.   As I understand Aaron Ha

[2016-01-22 00:07] octy40 commented on #46
Thanks @rupalkhilari . Appreciate all the insights; I'll play around and see what I can come up with.

[2016-02-02 05:35] kushankr commented on #69
Initiated a PR

#95

[2016-02-04 07:24] rupalkhilari commented on #69
The integration work really well. Thanks Kushank, for promptly addressing the issues ! #95
Closing this.

[2016-02-04 07:24] #69 closed

[2016-02-04 07:29] rupalkhilari commented on #65
For volunteers - Since the previous developer of this feature is busy at present, this issue is available for anyone who is interested in tackling it.

[2016-02-04 07:37] rupalkhilari commented on #47
django-invitation is quite user registration oriented, which not be necessary at present. The private/public polls coupled with vote invitation based model seems to be working well enough at present. Working on getting this and associated tests in place.
One point to note is that for now the owner of the poll will also be allowed to vote in a poll that he/she has created.

[2016-02-04 15:48] kushankr commented on #65
I think I am going to work on this!

[2016-02-05 06:12] kushankr commented on #49
I am working on this!

[2016-02-05 19:30] kushankr commented on #78
I will take this one too. I am working on a couple of issues and I will be able to submit a PR for all of them by the end of next week.

[2016-02-12 23:41] kushankr commented on #78
Initiated a PR

#96

[2016-02-12 23:41] kushankr commented on #49
Initiated a PR

#96

[2016-02-12 23:41] kushankr commented on #65
Initiated a PR

#96

[2016-02-15 10:18] rupalkhilari commented on #78
I checked your PR and it all works great functionality wise, but I am not sure if the current requirement is to display the different color in the results page or in the voting page. I am checking with Aaron regarding it just to clear my understanding of it and it's difference from #46

[2016-02-15 19:33] rupalkhilari commented on #78
Aaron confirmed that this is the expected functionality, so all is good :smile:

[2016-02-15 19:36] rupalkhilari commented on #46
The first bit of this ticket is being implemented as a part of #78 , so you may need to take care of presenting the winners as a part of this ticket. Thanks!

[2016-02-16 01:00] kushankr commented on #78
Thank you, Rupal for confirming this.

[2016-02-18 04:40] lpsmith commented on #87
@rupalkhilari
@ashimaathri
@kushankr
@mudlock
@Brianjr0428
@NigelKibodeaux
@kyleneideck

This is your notice to you,  the copyright holders of the Center for Election Science's "Approval Frame" software project,  that the project is assuming that you have provided your contributions under the GNU General Public License version 3, or later.

[2016-02-18 06:54] kyleneideck commented on #87
Fine by me 👍🏼

[2016-02-18 08:07] rupalkhilari commented on #78
Addressed in https://github.com/electology/approval_frame/pull/96 . Thanks, Kushank !

[2016-02-18 08:07] #78 closed

[2016-02-18 08:08] rupalkhilari commented on #65
Addressed in https://github.com/electology/approval_frame/pull/96 . Thanks, Kushank !

[2016-02-18 08:08] #65 closed

[2016-02-18 08:08] rupalkhilari commented on #49
Addressed in https://github.com/electology/approval_frame/pull/96 . Thanks, Kushank !

[2016-02-18 08:08] #49 closed

[2016-02-18 09:13] rupalkhilari commented on #87
@lpsmith, I too agree to provide my contributions under GNU GPLv3. Thanks for the insights on this matter. I understand your point about the ASP loophole in the GNU GPLv3 with web application usage vs distribution. As far as I understand, [AGPL](http://www.gnu.org/licenses/why-affero-gpl.en.html) is more permissive than GPLv3. As you mentioned, it purely depends on the vision of the software that

[2016-02-18 11:19] kushankr commented on #77
Aaron mentioned this issue in his email. I am going to start working on this.

[2016-02-18 11:21] kushankr commented on #87
I agree to provide my contributions under GNU GPLv3+

[2016-02-18 16:14] wolftune commented on #87
@rupalkhilari to clarify, **L**GPL is more permissive. **A**GPL is a *stronger* copyleft which states that the copyleft terms apply even if "conveying" the software is done by giving others access over a server (whereas regular GPL's copyleft only applies if you send someone software for them to run on their own machine)

[2016-03-03 12:24] kushankr commented on #77
Initiated a PR

#98

[2016-03-10 00:59] rupalkhilari commented on #77
Thanks, Kushank !

[2016-03-10 00:59] #77 closed

[2016-03-10 18:04] kushankr commented on #33
@rupalkhilari

Hi Rupal,
Aaron mentioned this as a priority item in his email. This issue was last updated in Aug, 2015. Is it ok if i try this one out?

[2016-03-11 06:45] rupalkhilari commented on #33
Sure Kushank, please feel free to take this up if you have time.
Thanks a lot !

[2016-03-11 16:01] kushankr commented on #33
Thanks, Rupal.

[2016-03-17 18:54] rupalkhilari commented on #47
#97
Minor formatting change in https://github.com/electology/approval_frame/pull/100.
Closing this.

[2016-03-17 18:54] #47 closed

[2016-03-17 19:24] kushankr commented on #33
Rupal, I have a question. I saw that CES sends a newsletter to subscribers and I saw the subscribe link in Aaron's mail. If you have knowledge about this, can you please tell me where is this newsletter stored and how can we use this in this issue? Thanks, Rupal.

[2016-03-18 00:33] rupalkhilari commented on #33
Hi Kushank,
Aaron had mentioned in his email that their newsletter system uses [MailChimp](http://mailchimp.com/) and had given the API key that we could use for this.
I think we could use the official Python/Django API for mailchimp as given in https://pypi.python.org/pypi/mailchimp. This page also lists  a Django example to display the existing lists to add a member as a subscriber to that list

[2016-03-18 17:39] rupalkhilari commented on #33
I think the API key could be read from a variable in local_settings.py, so perhaps this feature does not need to be workable for those without the API key during development.

[2016-03-18 18:18] kushankr commented on #33
Thanks a lot, Rupal!

[2016-03-25 04:38] kushankr commented on #33
Hi Rupal,

I have been researching this issue: I have learned that ZIP CODE field is required (in addition to email) on user subscription. So if we give the user a checkbox to subscribe to newsletter on signing up, in the registration page - a zip code field has to be added. Without it, the 'subscribe' function returns an error. I have verified this in multiple places - current newsletter form (li

[2016-03-25 22:20] rupalkhilari commented on #33
@kushankr , I see, I like your suggestion of having the zip code field enabled and requested from the user only when the newsletter checkbox is checked. That way we could keep it consistent with the existing behavior of signing up for the newsletter. As you mentioned, i too think this data should be mandatory since it might be used somewhere.

[2016-03-26 01:51] kushankr commented on #33
Thank you for your reply, Rupal. I will go ahead and implement this.

[2016-04-08 06:16] rupalkhilari opened #102 "Display text before poll options"
Immediately before the options, display text "Choose as many options as you wish." This will reinforce the concept of approval voting.

[2016-04-08 08:48] kushankr commented on #33
Hi Rupal, I am still working on this. Thank you for updating Aaron. I hope to finish this soon.

[2016-04-08 13:48] kushankr commented on #33
@rupalkhilari

I have a question about this: So when you subscribe to newsletter, a confirmation mail is sent. Clicking on 'Register' also sends a confirmation mail. In our functionality, should there be two confirmation mails sent - one for activating account and one for subscribing to newsletter? or should we use activating account email on register to confirm subscription to newsletter as well?

[2016-04-09 00:57] rupalkhilari commented on #33
Thats a good question, Kushank. I would think it should use a single email for both registration and newsletter, since the purpose for both is mainly to confirm if the email address is valid. If it is not very straightforward to have, perhaps we could start with two emails and then later have it send only one. What do you think ?

[2016-04-09 13:28] kushankr commented on #33
Hi Rupal, Thank you for your reply. I am hoping that I would be able to code it to use a single email for both registration and newsletter. But depending on what I encounter, I will see if it is more straightforward to have two emails for now - and later merge it in one. I will keep you posted. Thanks, Rupal.

[2016-04-10 12:56] kushankr commented on #33
Initiated a PR

#103

Can you please review it, Rupal? Thanks.

[2016-04-15 17:37] rupalkhilari commented on #33
Thanks Kushank ! Closing this. #103

[2016-04-15 17:37] #33 closed

[2016-04-15 18:04] rupalkhilari opened #104 "Make poll leader bar highlighted as the default"
Currently this option is configurable in the poll settings panel ("Show Leading option in different color.") . Have this enabled by default.

[2016-04-15 18:04] kushankr commented on #78
@rupalkhilari

Thank you for reviewing and closing PR 103.

Regarding this issue:
Aaron mentioned in his email that leading option should always have a different color. This was implemented here but I made it configurable as per the requirements. Aaron said that 'I would go with making the poll leader bar highlighted as the default.' Hence, I think that I need to make some modifications.

Can you

[2016-04-15 18:07] kushankr commented on #104
Hi @rupalkhilari ,

I just made a comment regarding this in #78

I will go ahead and take this issue. I will have this option enabled by default.

[2016-04-15 18:17] rupalkhilari commented on #104
Oh alright, thanks @kushankr !

[2016-04-15 18:39] rupalkhilari commented on #66
We might need to revisit this. We should probably see which bits of it can be reused from https://github.com/electology/approval_frame/pull/71 . I also think we should perhaps split this ticket into multiple tickets based on each section of the poll and the poll settings panel - so that we can carefully evaluate upto what extent each part can be edited and make it more manageable.

1) Edit poll qu

[2016-04-15 20:30] kushankr commented on #102
I will take this one too. It is a very small change. Will be ready by tonight.

[2016-04-15 21:32] kushankr commented on #104
Initiated a PR

#105

Can you please review it, Rupal? Thanks a lot.

[2016-04-15 21:32] kushankr commented on #102
Initiated a PR

#105

Can you please review it, Rupal? Thanks a lot.

[2016-04-15 21:52] kushankr commented on #46
Hi @rupalkhilari ,

Can I please take this issue? This issue was last updated 2 months back. Most of what this ticket needed has already been implemented in #78. Hence, I would like to work on this.

[2016-04-16 09:13] rupalkhilari commented on #46
@kushankr since you implemented the other bit part of it, you could go ahead and completing this part to highlight the winner as well. @octy40 let us know in case you have any concerns.

[2016-04-16 16:08] kushankr commented on #46
Thank you, Rupal.

[2016-04-16 17:22] kushankr commented on #46
This is done.

Covered in PR #105 .

[2016-04-16 23:12] rupalkhilari commented on #104
Looks good, merged it in. Thanks !

[2016-04-16 23:12] #104 closed

[2016-04-16 23:12] rupalkhilari commented on #102
Looks good. Thanks Kushank !

[2016-04-16 23:12] #102 closed

[2016-04-17 00:00] kushankr commented on #46
@rupalkhilari

Hi Rupal, you mentioned a comment in PR 105: "http://electologyapp.privatedns.org:8001/approval_polls/20/results/ this seems to show all are winners since they have 0 votes. Would it be better to add a message saying that 'No votes in this poll' and avoid tagging them are winners. This is subjective though."

i agree, I thought that my code took care of this scenario. I will work to

[2016-04-17 00:43] kushankr commented on #46
@rupalkhilari

I have initiated a PR for the above change: #106

Can you please review it, Rupal? Thank you.

[2016-04-19 06:01] rupalkhilari commented on #46
Thanks for taking care of that, Kushank. Have merged the PR. Closing this.

[2016-04-19 06:01] #46 closed

[2016-04-20 20:15] rupalkhilari opened #108 "Ability to edit poll question and poll choices."
Allow editing poll question and poll choices. The poll admin should not be allowed to edit the poll question or choice if it has already got a ballot on it.

[2016-04-20 20:18] rupalkhilari opened #109 "Allow editing poll voting type"
Allow editing poll type (Anyone allowed to vote, logged in users allowed to vote, email Id owners allowed  to vote). If additional emails are added, it should send a new voting invitation to those members. It could also give the ability to resend a vote invitation to someone.

[2016-04-20 20:19] rupalkhilari opened #110 "Allow editing poll close date and times and display/countdown."

[2016-04-20 20:20] rupalkhilari opened #111 "Allow editing write-in option, leading color option, visibility"
Poll admins should have the ability to edit the poll parameters mentioned above.

[2016-04-20 20:21] rupalkhilari commented on #66
Have raised #108, #109, #110, #111 for this. We could close this ticket once these have been addressed.

[2016-04-20 20:25] rupalkhilari commented on #67
I think the 'suspend' should be a part of the edit functionality. Since we are dealing with poll close dates and times there, i feel that suspending a poll is also a form of editing it.

[2016-05-02 14:35] nealmcb opened #112 "Link to a demo of approval_frame in action"
The README should link to a web site which demonstrates what approval_frame looks like in action, and lets people try it out.

If there are any approval voting hosting services available which will manage the infrastructure for folks, note that also somewhere.

[2016-05-02 14:42] nealmcb opened #113 "Provide option to install and run via a Docker image"
[Docker](https://en.wikipedia.org/wiki/Docker_%28software%29) makes it very easy to install and deploy software, for demos or for production.  Provide a Dockerfile to support this mode of operation, along with signatures to allow the use of [Docker Notary](https://blog.docker.com/tag/docker-notary/), which makes this significantly more secure than pip install, or even apt-get.

[2016-05-14 09:20] nraghun commented on #108
Hi,
Is this being worked on by anybody?

I see the options for the polls as 'edit', 'suspend' and 'remove'. Not sure if this is the correct place for this question - a question about 'remove' option - Can a poll be removed after it has a ballot in it?

Thanks
Neeti

[2016-05-14 14:02] octy40 commented on #108
Hi @nraghun, I was looking into this issue, but feel free to take it. I'm still learning Django and haven't been able to figure out this part yet.

As for the suspend, I'm not sure, but I imagine a poll admin should be able to suspend a poll whenever they want, with or without ballots.

[2016-05-14 16:44] rupalkhilari commented on #113
Thanks for the suggestion @nealmcb. We shall look into it.

[2016-05-14 16:45] rupalkhilari commented on #108
Hi @nraghun , yes, currently the poll admin can remove a poll even if it has a ballot in it. It will delete the poll and the corresponding ballots. You should be able to see the delete poll functionality in 'Manage your polls' . It was handled in https://github.com/electology/approval_frame/issues/65

[2016-06-24 16:53] rupalkhilari commented on #7
Since the poll now has an option of allowing only registered users to vote #16 , with the integration of social authentication https://github.com/electology/approval_frame/issues/69 and with allowing users with the specified email address to vote https://github.com/electology/approval_frame/issues/47 I think we can close this for now. We might investigate cookies at a later stage for which we can

[2016-06-24 16:53] #7 closed

[2016-07-07 16:12] hmurali commented on #109
I am currently taking up this ticket.

[2016-07-27 00:53] erswatiaggarwal commented on #110
Hi Rupal,I am planning to take this issue.

[2016-08-01 22:49] erswatiaggarwal opened #114 "Issue while creating new Poll"
There should be option of removing a choice,in case accidentally added while creating a new poll by User

[2016-08-11 15:30] erswatiaggarwal commented on #110
Hi Rupal,

As per my analysis these are file need to be touch
approval_frame/approval_polls/migrations/0006_poll_show_close_date.py
approval_frame/approval_polls/migrations/0007_poll_show_countdown.py
approval_frame/approval_polls/models.py

Here we need to make sure default functionality for show_countdown and time_close should be true.
I can't test changes as main functionality edit on poll is n

[2016-08-13 18:30] rupalkhilari commented on #110
Sorry @erswatiaggarwal I was a bit caught up at work. The migration files are auto-generated when you run python manage.py makemigrations . I'm not clear why we need to change the default behavior. Could you elaborate ?
I think the edit screen should read the current settings for the poll and display them in the page, and allow the user to update them.

[2016-08-15 14:40] erswatiaggarwal commented on #110
HI @rupalkhilari

if i am understanding problem correctly, we are trying to edit poll which is already created.
Now in site  when you click on manage poll setting,three button edit,suspend etc displayed.In case edit click nothing happens,which we want it to work.Here As the problem statement,I am just trying to work on edit of attribute of created poll which is poll_show_closed_date/poll_show_coun

[2016-08-16 22:26] rupalkhilari commented on #114
Yes, that is a valid design choice to have. At present the poll will only use those options that are non-empty and will ignore the empty ones. So it should be alright for now.

[2016-08-21 23:46] rupalkhilari commented on #110
Hi @erswatiaggarwal , since the edit had no functionality yet there is no page associated with it. I would encourage you to add the page from which the poll admin will be allowed to edit the poll_show_closed_date and poll_show_countdown.

[2016-08-22 00:08] rupalkhilari opened #115 "Maintain a list of users subscribed to the newsletter through the app"
It would be nice to know the number of users who are subscribing to the newsletter via the poll app.

[2016-08-22 00:10] rupalkhilari opened #116 "Provide an interface to subscribe to the newsletter in the account page"
Similar to the option on the 'register' screen, provide an interface to the user to subscribe to the newsletter in the login screen. Make sure duplicate emails are handled appropriately.

[2016-12-18 20:28] jcklpe opened #120 "Why not a mobile app?"
Been a big fan of electology as a website and alternative forms of voting for awhile. I've found it odd that there aren't more voting mobile apps. This seems like it's a great place to start getting the idea out there with a simple interface that is friendly and well designed. Anyone interested in that?

[2017-01-27 00:46] #114 closed

[2017-01-27 01:11] rupalkhilari commented on #120
Hi @thedonquixotic, that sounds like a good idea. Although making sure it would across android, iOS and windows would require more development. The current approval_frame app uses bootstrap and should be accessible from the phone browser as well. So I'm not so sure of it at the moment, but perhaps keep it as a lower priority would work ? Surely something that Aaron should decide about, we could ta

[2017-04-04 21:17] rupalkhilari opened #121 "Allow poll to be shared on social media"
Aaron had suggested adding social media sharing buttons to the poll (Facebook, twitter, email, linkedin, Google+) . Evaluate an appropriate jQuery plugin to be used for this task.

[2017-04-09 18:25] balajisubr commented on #116
@rupalkhilari Is this for logged in users? If so, it would be better to add this in approval_polls/my-info/

[2017-04-09 19:51] rupalkhilari commented on #116
@balajisubr - yes indeed, I had reviewed this with Aaron again and we thought that it would be better if this option is put into the user's account page instead of the login screen. Hope this is clearer, thanks for checking

[2017-04-15 23:58] rupalkhilari commented on #115
https://github.com/electology/approval_frame/issues/116 has already included a model to store the list of users subscribed to the newsletter through the app. Connect this logic to the registration page as well.

[2017-04-25 02:31] balajisubr commented on #115
@rupalkhilari Looks like https://github.com/electology/approval_frame/pull/122 has already addressed this.

[2017-04-25 05:30] CCInCharge commented on #121
I'll look into this if no one's started this yet - I'm new to django, but have some ideas on implementing this

[2017-04-25 14:29] rupalkhilari commented on #121
Great! Thanks, Chen.

[2017-04-25 14:37] rupalkhilari opened #124 "Script to keep subscribers of newsletter from app in sync"
Users subscribed to the newsletter through the Django app may choose to unsubscribe to the newsletter from outside the app. In this case, we want to be able to keep our record of subscribers from the app in sync to some extent with the real data.
For this we could add a python script under approval_frame/scripts that reads the list of users from the local table and verifies their subscription stat

[2017-04-26 06:15] CCInCharge opened #125 "TypeError in detail.js when poll created with no countdown"
I've recently run into the following issue:

When viewing a poll, I get the following error:
[code]

To recreate this issue, create a new poll, then when you go to view that poll, open the console. It seems that this issue will only appear when you create a poll without a countdown timer.

[2017-04-26 16:46] rupalkhilari commented on #124
https://github.com/electology/approval_frame/pull/122 performs deletion and addition.

[2017-04-26 22:21] balajisubr commented on #111
@rupalkhilari What is a write-in option ?

[2017-04-26 22:26] balajisubr commented on #108
Is someone currently working on this?

[2017-05-06 16:33] #121 closed

[2017-05-10 05:10] balajisubr commented on #124
@rupalkhilari I am taking this up next.

[2017-05-12 15:51] Faxn commented on #110
Can this be closed now, or is there some aspect to this issue that #127 didn't address?

[2017-05-13 19:37] rupalkhilari commented on #110
Yes @Faxn , this can be closed now, thanks!

[2017-05-13 19:37] #110 closed

[2017-05-14 04:47] rupalkhilari commented on #108
@balajisubr looks like the last update was a year back, so I think you should go ahead with it if you have the time to take it up.

[2017-05-29 08:01] rupalkhilari commented on #124
Thanks @balajisubr !

[2017-05-29 08:01] #124 closed

[2017-06-04 16:19] balajisubr commented on #108
@Faxn seems like you have made some changes for editing poll question and choices as recent as May '17. Just want to make sure you are not working on this issue currently.

[2017-06-14 14:34] Faxn opened #132 "Create Poll view doesn't handle deleting choices well"
First observed by @balajisubr :

In another bug which I think is related enough to be part of the same issue, if you have choices [1,2,3]
and delete choice 2 then create the poll, the database won't record choice 3. They happen for different reasons, but because of what code is involved it's easier to fix both at once.

I'm going to work on this issue.

[2017-06-16 02:38] rupalkhilari opened #134 "Prompt before deleting choices"
On hitting the delete button for a choice, it would be nice to show a confirmation dialog box to check if the user really wanted to delete the choice before deleting it permanently.

[2017-06-18 19:00] #132 closed

[2017-06-18 19:19] balajisubr commented on #109
@rupalkhilari I am taking up this and #111 next

[2017-06-20 03:45] balajisubr commented on #115
@rupalkhilari  Can this be considered closed?

[2017-06-20 03:45] balajisubr commented on #116
@rupalkhilari Can this be considered closed?

[2017-06-20 05:31] rupalkhilari commented on #116
@balajisubr , yes alls good!

[2017-06-20 05:31] #116 closed

[2017-06-20 05:31] rupalkhilari commented on #115
@balajisubr , yes, thanks!!

[2017-06-20 05:31] #115 closed

[2017-06-24 20:31] balajisubr opened #135 "Choice links while editing polls"
* Go to edit page of a poll which has a link previously associated with a choice(say A)
* Change some thing else in the poll and click save
* Reload the poll. The link in choice A is not present anymore

[2017-06-27 09:00] rupalkhilari commented on #108
Closing this. Thanks @balajisubr

[2017-06-27 09:00] #108 closed

[2017-06-28 03:20] balajisubr commented on #109
@rupalkhilari During what point of time should the editing of this be stopped for a poll?

[2017-06-29 00:06] rupalkhilari commented on #109
@balajisubr , I think we should allow the poll to be edited anytime, even after it expires (in case the poll admin wanted to reopen the poll). Do you have any use cases for not allowing a poll to be edited ?

[2017-07-02 22:16] rupalkhilari commented on #15
This was added as a part of #81. Closing this.

[2017-07-02 22:16] #15 closed

[2017-07-02 22:25] rupalkhilari commented on #135
@balajisubr, Did you enter a link in the link field for the choice and hit the 'Insert link' button ? It seems to be working on both the test server and locally for me.
Are you referring to a case where the user enters a link as the choice text instead of inserting a link ?
Let me know how you are testing this.
Thanks!

[2017-07-06 05:45] rupalkhilari commented on #111
Addressed in #136 . Thanks @Faxn !

[2017-07-06 05:45] #111 closed

[2017-07-07 22:21] balajisubr opened #138 "Restrict ability to edit polls:"
Currently, I am able to edit polls which I haven't created just by going to the edit URL

Only creators and admins should be allowed to edit them.

[2017-07-08 05:31] rupalkhilari commented on #138
Yikes! Good catch @balajisubr . I have pushed a fix and tests for this.

[2017-07-09 21:10] rupalkhilari opened #141 "Email address not tokenized in field for polls by email invite (unless tab or comma is present)"
In the case where a poll is sent to specific email addresses by invite, the email address field does not tokenize its contents unless a comma or tab is pressed. We need to ensure that all email addresses are tokenized and go through the existing email validation before the poll is created/edited.

[2017-07-11 19:57] rupalkhilari commented on #138
Addressed in #140

[2017-07-11 19:57] #138 closed

[2017-07-19 04:33] balajisubr commented on #17
@rupalkhilari Can I work on this next? If not this, please let me know which issue to work on.

[2017-07-19 23:14] rupalkhilari opened #143 "Add more info to messages shared to social media"
In the current state of the app, the social share buttons for a poll only share a link to the poll.

According to a discussion with Aaron, we need to customize these shared messages to add the CES logo, the question of the poll, along with the link.

[2017-07-19 23:17] rupalkhilari commented on #17
@balajisubr , you are welcome to work on this, though I have raised another ticket concerning messages while sharing on social apps, if that seems interesting to you.

[2017-07-21 21:13] balajisubr commented on #17
@rupalkhilari Should the CSRF token be disabled for all users except when it is the user who created the poll or the admin of the poll ? I read through the above comments and I am not sure I understand them completely or if they are even relevant any more. @Faxn Do you have any thoughts on this?

[2017-07-21 21:15] balajisubr commented on #67
@rupalkhilari Is this being worked on?

[2017-07-21 23:27] rupalkhilari commented on #67
@balajisubr , I don't think this PR was updated according to the review comments and had to be closed as it was too out-of-date with the codebase.
We need to figure out the definition of suspend in this case. According to what I think, for now, the poll will simply not allow any votes on it (Vote button will be disabled with an appropriate message like 'Sorry, the poll has been temporarily suspend

[2017-07-28 00:48] balajisubr commented on #67
@rupalkhilari
Should suspended polls even be shown to users?
If a user goes to a suspended poll, they can be shown a message like above "Sorry, the poll has been temporarily suspended" but do we want to display the poll choices?
If a poll is currently suspended, should the poll index page show a "Unsuspend" or "Reactivate" button in place of the "suspend" button?
Should there be a JS Dialog which

[2017-07-28 15:19] rupalkhilari commented on #67
Those are good questions. I think we should allow suspended polls to be shown on the main page. That way we can avoid confusion between the 'Show poll on home page' option and this.

I think 'Unsuspend' seems good for now, also having a visual representation - perhaps having the cell in a darker grey would distinguish it nicely from the other polls.
Also maybe not now, but we should also look at c

[2017-07-29 21:55] rupalkhilari commented on #109
Addressed in https://github.com/electology/approval_frame/pull/139 . Closing this.
Thanks @balajisubr !

[2017-07-29 21:55] #109 closed

[2017-07-29 21:58] rupalkhilari commented on #66
Closing this as all related tickets have been addressed.
Thanks to all volunteers who have contributed to this!

[2017-07-29 21:58] #66 closed

[2017-07-30 16:58] balajisubr commented on #67
@rupalkhilari As pointed out by @Daniel-Avila earlier, should the poll unsuspend  be allowed for a suspended poll if the current time is after the poll close date?

[2017-07-31 12:09] Faxn commented on #134
Deleting a choice isn't really that destructive. It's normally only going to be at most a sentence of text and if it's even possible to delete a choice, then the poll must have no votes in it. On top of that, deleting a choice in the edit page doesn't change the database, it's not until the form is submitted that anything is really changed. A conformation popup would probably be more of an annoyan

[2017-08-01 17:11] rupalkhilari commented on #134
I agree with you @Faxn. Now that we have prevented choices from being edited if the poll has ballots on it, we might actually not need this. I like your idea of having the undo button instead though.

[2017-08-02 16:51] rupalkhilari commented on #67
@balajisubr , I think your current implementation looks good where we keep both the behaviors independent of each other.

[2017-08-06 22:08] rupalkhilari opened #148 "Set up Google Analytics"
We need to figure out the account to be used for this, will depend on recommendations by Aaron

[2017-08-07 02:13] balajisubr commented on #148
@rupalkhilari What are the capabilities / benefits of using Google Analytics?

[2017-08-07 07:09] rupalkhilari commented on #148
@balajisubr , It would be to purely gather insights about the app usage, available to the admin. It could help collect data over time and answer some interesting questions like:  How often the site is accessed, how many requests per day/month/year, number of requests by region, percentage of requests from computer vs mobile devices.
https://www.google.com/analytics/analytics/capabilities/

[2017-08-10 13:37] rupalkhilari opened #149 "Implementing a tag cloud"
@balajisubr suggested implementing a tag cloud for the app. It could perhaps give the audience some insight on the most popular categories of questions are in the app. Details are in the forum discussion here: https://groups.google.com/forum/#!topic/ces-software/UU7YCfpNzUg .

@balajisubr do you propose that the tags in the tag cloud are clickable, filtering the polls based on the tag ?

[2017-08-15 16:24] rupalkhilari commented on #149
As discussed in the forum, this feature would start out with having the following functions:

1. Letting the user create and assign tags to polls.
2. Displaying the tag cloud, and linking to it from the home page.
3. Displaying the filtered poll results on clicking the tag.

[2017-08-17 05:58] madhurimurali91 commented on #143
@rupalkhilari Hi Rupal, I am working on this feature but I was wondering if there was a way to add logos to a tweet or facebook share. As far as I know, we can't do it unless it's an actual image upload. And doesn't facebook auto-generate images(possibly the logo) from the the given URL ?

[2017-08-17 16:17] rupalkhilari commented on #143
@madhurimurali91 , As far as I know, Facebook uses the `<meta>` tag properties of the webpage to gather information about the shared message. Check more info [here](https://developers.facebook.com/docs/plugins/share-button#configurator)

For the image, you could probably use the logo that the app uses for the meta image https://github.com/electology/approval_frame/blob/master/approval_polls/static

[2017-08-24 03:54] balajisubr commented on #149
@rupalkhilari How do you want to show the existing tags for a poll in the edit page? Should they be tokenized and displayed in the text box?

Also, what is the placement of the tag cloud for both desktop and mobile view?

[2017-08-24 08:46] rupalkhilari commented on #125
Thanks Madhuri !

[2017-08-24 08:47] #125 closed

[2017-08-26 15:37] rupalkhilari commented on #149
@balajisubr yes, tokenized words in a text field sounds like a good idea. Also I think we could link to the tag cloud from the home page on the top should work for now.

[2017-10-06 18:33] rupalkhilari opened #152 "Update all libraries, and django version if possible."

[2017-10-06 18:52] #67 closed

[2017-10-06 18:54] rupalkhilari commented on #40
Addressed in #137 , thanks!

[2017-10-06 18:54] #40 closed

[2017-10-08 17:30] balajisubr commented on #135
@rupalkhilari The edit scenario is not working as explained above.

[2017-10-08 19:21] balajisubr commented on #135
@rupalkhilari Couple questions regarding edit functionality for links:
1. Should existing choices be able to have their links added / modified / removed in the Edit page?
2. I currently observe while creating a new poll that adding a link to a choice successfully changes the link icon to a green color and that the link is not able to be modified? I was planning on removing the inability to modify

[2017-10-20 05:05] balajisubr commented on #135
@rupalkhilari Wondering if you have answers for the above questions? Should Aaron be involved? - Thanks

[2017-10-20 06:10] rupalkhilari commented on #135
@balajisubr
1. If the poll already has ballots on it, I think we should not allow the links for choices to be modified. (There could be an edge case where the link expires and needs to be edited - but I think that is not a frequent occurrence)
2.  Great observation! The links should indeed be modifiable on the new poll page until the 'Create Poll' button is clicked.

Thanks!

[2017-11-07 03:48] balajisubr commented on #17
@rupalkhilari I think an approach for this would be to capture the 403 event and then send the user to the login page after which they can login and vote. https://docs.djangoproject.com/en/1.11/ref/csrf/#rejected-requests

But we would need another approach for polls without logins. Did you have any other approaches?

[2017-11-07 04:09] balajisubr commented on #63
@rupalkhilari I think Celery(http://docs.celeryproject.org/en/master/getting-started/first-steps-with-celery.html#first-steps) is a good option for this. Let me know your thoughts.

[2017-12-14 03:57] rupalkhilari commented on #63
@balajisubr that sounds like a great option, and seems to be widely adopted for this task as well http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html . Please go ahead and attempt this.

Thanks!

[2019-01-22 18:53] rupalkhilari opened #156 "Update CES logo"
Update the app to use the most recent CES logo.

[2019-01-23 06:58] rupalkhilari commented on #156
Addressed in Pull request https://github.com/electology/approval_frame/pull/157.

[2019-01-23 06:58] #156 closed

[2019-03-14 21:38] rupalkhilari opened #159 "Move newsletter subscription integration from mailchimp to Salsa"
CES now uses Salsa instead of Mailchimp to manage newsletters. Migrate the app to allow a new user to be added to the Salsa system.
Updates documentation accordingly.

[2019-03-14 21:42] rupalkhilari opened #160 "Update Google social authentication"
Google have gotten rid of the google plus APIs. Update social authentication for Google based on the newer constraints and features.

[2019-03-14 21:43] rupalkhilari opened #161 "Update Facebook social authentication"
Facebook have updated their security policies to only allow secure apps to use social authentication. Update facebook social authentication accordingly.

[2019-07-21 23:24] rupalkhilari opened #162 "Sort result choices based on number of votes"
Caitlyn requested that winners of the poll be sorted based on the number of votes so that is it easier to see who the winner is, and compare them.

[2019-07-22 00:42] #162 closed

[2019-07-23 08:12] rupalkhilari opened #164 "Change default option for allowed voters."
Change the default to allow anyone to vote, without requiring them to login.

[2019-07-23 08:18] #164 closed

[2019-07-27 09:10] rupalkhilari opened #166 "Redirect site root to approval polls page"
Accessing https://vote.electionscience.org/ should display all polls instead of throwing an error.

[2019-07-27 16:16] #166 closed

[2020-02-19 05:43] rupalkhilari opened #170 "Add opt-in checkbox for email communication"
A poll may have email discussions and other communication associated with it. It would be nice to have as opt-in option so that the voter can choose whether or not to allow such communication.

For polls where logging in is not necessary, ensure that there is a textbox where voters can enter their email Ids.

Also make the email ids accessible through the admin interface.

[2020-02-26 00:12] rupalkhilari commented on #170
This feature was added in https://github.com/electionscience/approval_frame/pull/171 and deployed.

[2020-02-26 00:12] #170 closed

[2020-03-14 18:54] rupalkhilari opened #172 "Use cookies for poll when voter is not logged in"
Use cookies to prevent ballot stuffing when user is not logged in to vote. Persist the cookie permanently for now.

[2021-01-07 01:21] rupalkhilari commented on #172
Was addressed in #173

[2021-01-07 01:21] #172 closed

[2021-01-07 01:23] rupalkhilari opened #176 "Add scheme to email urls"

[2021-03-04 19:09] regier21 commented on #152
Does this issue include updating to Python 3? Python 2.7 stopped receiving support at the beginning of 2020.

[2021-03-09 07:30] rupalkhilari commented on #152
Hi @regier21
I wouldn't think so. There have been new development efforts organized to redesign/rewrite this project. You'd probably find more information about on the Volunteer facebook group here: https://www.facebook.com/groups/589425338626962/ .
Thanks.

[2021-03-12 00:31] rupalkhilari commented on #176
This was addressed in https://github.com/electionscience/approval_frame/pull/177.

[2021-03-12 00:31] #176 closed

[2021-04-05 06:55] regier21 opened #178 "Readme Instructions for Installing Pip Do Not Work"
The readme recommends running ```sudo apt-get install python-pip```. I am on Ubuntu 20.04.2 and running this command yields the error "E: Unable to lcate package python-pip." [These instructions](https://linuxize.com/post/how-to-install-pip-on-ubuntu-20.04/) indicate that the get-pip.py script needs to be run instead. I was able to follow these instructions to successfully install pip and the pack